/* --- ANIMACIONES SLIDE --- */
.slide-section {
  opacity: 0;
  transform: translateX(50px);
  transition: all .4s ease;
}
section.active.slide-section {
  opacity: 1;
  transform: translateX(0);
}
.fade-out { animation: fadeOut .5s forwards; }
@keyframes fadeOut { to { opacity:0; transform:scale(.95); } }
